---
  root: true
  parser: babel-eslint
  extends:
    - airbnb-base
    - prettier
    - prettier/react
    - plugin:jest/recommended
    - plugin:react/recommended
    - plugin:flowtype/recommended
  plugins:
    - jest
    - prettier
    - react
    - flowtype
  rules:
    no-underscore-dangle:
      - error
      - allow:
        - _source
        - _original
    prettier/prettier:
      - error
      -
        trailingComma: es5
        singleQuote: true
    no-console: off
  env:
    browser: true
    node: true
    jest/globals: true
