---
  root: true
  extends:
    - airbnb-base
    - prettier
    - prettier/react
    - plugin:jest/recommended
    - plugin:react/recommended
  plugins:
    - jest
    - prettier
    - react
  rules:
    prettier/prettier:
      - error
      -
        trailingComma: es5
        singleQuote: true
  env:
    browser: true
    node: true
    jest/globals: true
