.dashboard {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .dashboard {
    flex-direction: row;
  }
}

.ecl-site-header__banner {
  justify-content: left;
}

.dashboard__item {
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dashboard__item:first-child {
  padding-left: 0;
}
.dashboard__item:last-child {
  padding-right: 0;
}

.ecl-message--clean {
  display: none;
}

.ecl-file-upload__label {
  text-align: center;
  width: 100%;
}

.ecl-table td {
  word-wrap: break-word;
}

.progress {
  color: orange;
}

.error {
  color: red;
}

.success {
  color: green;
}
