.ecl-component--spinner {
  padding: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.ecl-component--spinner .ecl-icon--spinner:before {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  vertical-align: middle;
  margin: 0;
  display: block;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
